<h5><%= @technology.technology %></h5>

<p>if user.is_mentor === true: List of mentees</p>
<p>else: List of mentors</p>
<a href="/technologies">back to list</a>
<a href="/technologies/new">add technology to list</a>