<h5><%= @technology.technology %></h5>
<div>
  <ul>
    <li>Description:<%= @technology.description %></li> 
  </ul>
</div>

  <p><%= link_to "Edit Description", edit_technology_path(@technology) %></p>
  <p><%= link_to "Delete from Database", technology_path(@technology),
                                  :data => {:confirm => "Confirm to delete",
                                  :method => 'delete'} %></p>



<a href="/technologies">back to list</a>
<a href="/technologies/new">add technology to list</a>